<div style="position:relative">
  <div class="wall">
    
    <h4 class="header-title"> <button class="btn white" [routerLink]="['/admin']"><i class="	fa fa-arrow-left"></i></button> Events</h4>
    <div class="edit">
      <button class="btn btn-main" (click)="open()">Add Event</button>
    </div>
  </div>
  <div class="triangle-bottomright"></div>
  <div class="container-fluid">
    <div class="row" *ngIf="!!events">
      <div class="col-md-12">
        <div class="table-container table-responsive table-position">
          <table class="table table-hover" *ngIf="!!events.length">
            <thead>
              <tr>
                <th width="50"></th>
                <th>Name</th>
                <th>Place</th>
                <th>Date & Time</th>
                <th>Price</th>
                <th width="150"></th>
                <th width="50"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of events">
                <td></td>
                <td>
                  <span class="d-block">
                    <strong>{{ event.name  }}</strong>
                  </span>
                </td>
                <td>
                  <span class="d-block" *ngIf="!!event.place">
                    {{ event.place.name  }}
                  </span>
                </td>
                <td>
                  <span class="d-block">
                    {{ event.date  }}
                  </span>
                  <span class="d-block">
                    {{ event.time  }}
                  </span>
                </td>
                <td>
                  <span class="d-block">
                    {{ event.price  }} <small>MKD</small>
                  </span>
                </td>
                <td class="text-center">
                  <button class="btn btn-main" (click)="open(event)"> Edit</button>
                </td>
                <td class="text-center">
                  <button class="btn" (click)="deleteEvent(event.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center" *ngIf="!events.length">
            <app-noitemfound></app-noitemfound>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
